@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Haven at the Crossroads</h1>
    <p>
        Within the expanse of guarded territories, vast cities, and swathes of wilderness in between, lies the Crossroads. The region is covered in the mountains and foothills of two ranges, creating a treacherous and less inhabited land. A few exceptions to this were mining companies, explorers, and merchants who were intent on traversing this area to benefit from its central location to neighboring regions for trading purposes. Throughout time, many people have called these ranges and lakes home.<br />

        One year ago, calamity struck. The ground shook and buckled, many of the mountain passes and trading routes were covered or destroyed in the destruction. But, with the upheaval, long lost ruins were revealed.<br />

        The Haven at the Crossroads is a newer settlement, more of a basecamp than a town, with many parties interested in its growth and safety for their own reasons. The outpost is many things: an archeological dig site, a resting place for traveling merchants, an isolated town where your past likely won't follow you, and a haven for those looking for a place to rest before returning to a dangerous world.<br />

        Haven welcomes all travelers.
    </p>
</div>
